<li class="menu-item" (click)="selectNode(node)">
  <!-- Bandera del país/continente si existe -->
  <span *ngIf="node.flag" class="flag-container">
    <img [src]="node.flag" [alt]="node.nombre + ' flag'" class="flag-icon">
  </span>
  {{ node.nombre }}

  <!-- Submenú de hijos -->
  <ul *ngIf="node.hijos?.length" class="submenu">
    <ng-container *ngFor="let child of node.hijos">
      <app-header-submenu [node]="child" (selected)="selected.emit($event)"></app-header-submenu>
    </ng-container>
  </ul>
</li>
